body{
	background-image: url("pexels3.png");
	width: 1140px;
}
.container{
	width: 500px;
	margin: 20%;
	padding: 90px 90px;
    background-color: rgb(88,241,90);
}	
h3{
	color: blue;
}
.btn{
	padding: 10px 10px;
	color: blue;
	background-color: rgb(135,163,245);
}


